# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables / secrets
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store

#Figures
eda/figures

#additional files to ignore here
chapter2_updated.tex
outlier_comparison_queries.sql
rejected_rows.csv
